<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista dei Corsi</title>
</head>
<body>
    <p>
        Ciao King!
    </p>
    <p th:text="${data}">Ciao Mondo!</p>
    <table>
        <thead>
            <tr>
                <th>Id Corso</th>
                <th>Titolo</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${courses}">
                <td th:text="${c.id}">2000</td>
                <td th:text="${c.title}">Java</td>
                <td th:text="${c.description}">Corso bello</td>
            </tr>
        </tbody>
    </table>
    <form action="findCourseById" method="get">
        <label for="courseId">Id Corso</label>
        <input type="number" name="courseId" id="courseId">
        <button>Ricerca Corso per Id</button>
    </form>
</body>
</html>