<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista dei Corsi</title>
</head>
<body>

    <ul>
        <li><a href="http://localhost:8080/showCourseInsertForm">Inserisci un nuovo corso</a></li>
        <li><a href="http://localhost:8080/findCourseByTitleLike">Cerca un corso dal suo titolo</a></li>
        <li><a href="http://localhost:8080/findWithSkillAndLevel">Cerca un insegnante per skill e livello</a></li>
        <li><a href="http://localhost:8080/home">Clicca qui per inserire un nuovo corso</a></li>
    </ul>

</body>
</html>